<!-- Footer -->
<footer class="page-footer font-small blue" style="background-color:#dddddd; border: 1px solid #cecece; ">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color: black; width: 20%; ">© 2020 Copyright:
      <a href="/"> ATNshop.com</a>
    </div>
    <!-- Copyright -->
  
</footer>
  <!-- Footer -->